<body class="s-lib-public-body">
  <nav aria-label="Skip to main content">{{skip_link}}</nav>
  <!-- BEGIN: Page Header -->
  {{public_header}}
  <!-- END: Page Header -->
  <!-- BEGIN: Content Header -->
  <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
    <div id="s-lib-bc"><nav aria-label="Breadcrumbs">{{breadcrumbs}}</nav></div>
    <div id="s-lg-guide-header-info" role="banner" aria-labelledby="s-lib-public-header-title">
      <h1 id="s-lib-public-header-title">{{page_title}}</h1>
      <div id="s-lg-guide-desc-container" class="pad-top-med">
        <div id="s-lib-public-header-desc">{{page_description}}</div>
      </div>
    </div>
  </div>
  <!-- END: Content Header -->
  <!-- BEGIN: Nav Bar -->
  <div id="s-lib-public-nav" class="container s-lib-side-borders">
    {{page_nav}}
  </div>
  <!-- END: Nav Bar -->
  <!-- BEGIN: content -->
  <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders" tabindex="-1">
    <section aria-label="Profile Content">
      <div id="s-lg-profile-cols" class="row">
        <div id="col1" class="col-md-3 center">
          {{profile_box}}
        </div>
        <div id="col2" class="col-md-6 center">
          {{personal_statement}}
          {{guide_list}}
        </div>
        <div id="col3" class="col-md-3 center">
          {{content_box_specialties}}
        </div>
      </div>
    </section>
  </div>
  <!-- END: content -->
  <!-- BEGIN: Page Footer -->
  <div id="s-lib-footer-public" class="s-lib-footer footer container  s-lib-side-borders" role="contentinfo" aria-label="Footer content and links">
    <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
      <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
        <a href="{{login_url}}">Login to LibApps</a>.
      </div>
    </div>
  </div>
  <!-- END: Page Footer -->
  <!-- BEGIN: Scroll to Top Button -->
  <div id="s-lib-scroll-top" title="Back to Top">
    <span class="fa-stack fa-lg">
      <span class="fa fa-square-o fa-stack-2x" aria-hidden="true"></span>
      <span class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;" aria-hidden="true"></span>
    </span>
  </div>
  <!-- END: Scroll to Top Button -->
  <!-- BEGIN: Alert -->
  <div id="s-lib-alert" title="">
    <div id="s-lib-alert-content"></div>
  </div>
  <!-- END: Alert -->
  <!-- BEGIN: Custom Footer -->
  {{public_footer}}
  <!-- END: Custom Footer -->
</body>